@use "../abstracts" as *;

.blog,
.blog-post {
    .hero {
        background-image: url("/img/background.svg");
        background-size: contain;
        background-attachment: fixed;

        header {
            margin-inline: auto;
        }
    }

    .blog-posts {
        h4 {
            max-width: $font-text-width-default;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.2ex;
            transition: margin 0.3s ease-in;

            &:hover {
                margin-inline-start: 1rem;
            }
        }
    }
}

.blog-post {
    h1 {
        font-size: $header-text-size-2;
    }
    .prose {
        ol,
        ul {
            list-style: none;
        }

        ol > * + * {
            margin-block-start: 1em;
        }

        ul > * + * {
            margin-block-start: 1em;
        }
    }
}
