@use "../abstracts" as *;

.case-studies {
    .hero {
        background: url("https://ik.imagekit.io/sorudev/Studio%20Eien/Backgrounds/magazine_cover_manga_4_dH8fH1X7Q.png?updatedAt=1708435705516")
            no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;

        &::before {
            content: "";
            z-index: 0;
            opacity: 0.9;
            position: absolute;
            inset: 0;
            --opacity: 1;
            background-color: rgb(24 24 27 / var(--opacity));
        }

        .container {
            z-index: 999;
            position: relative;
        }

        h1,
        p {
            color: hsl(200, 7%, 92%);
        }

        .hero-content {
            .header {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            video {
                width: auto;
                border-radius: 0.3em;
            }
        }

        @media screen and (min-width: breakpoint(x-large)) {
            .hero-content {
                video {
                    width: 640px;
                    border-radius: 0.3em;
                }
            }
        }
    }

    .work {
        --opacity: 1;
        background-color: rgb(24 24 27 / var(--opacity));

        .work__item {
            --min: 40ch;
            padding-block: $space-size-48;
            align-items: center;
            padding-inline: 3rem;
            border-radius: 0.3em;
            // background: #1c1c1f;

            h2,
            p {
                color: hsl(200, 7%, 92%);
            }

            img {
                border-radius: 0.3em;
                width: 300px;
                border: none;
            }

            video {
                width: 640px;
                border-radius: 0.3em;
            }
        }
    }
}
