@use "../abstracts" as *;

.case-study {
    .hero {
        background: url("https://ik.imagekit.io/sorudev/Studio%20Eien/Backgrounds/manga_beautiful_7qMh10Vza.png?updatedAt=1708505549765")
            no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;

        &::before {
            content: "";
            z-index: 0;
            opacity: 0.9;
            position: absolute;
            inset: 0;
            --opacity: 1;
            background-color: rgb(24 24 27 / var(--opacity));
        }

        .container {
            z-index: 999;
            position: relative;
        }

        h1,
        p {
            color: hsl(200, 7%, 92%);
        }

        .hero-content {
            --min: 40ch;
            .header {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            video {
                width: 640px;
                border-radius: 0.3em;
            }
            img {
                width: 640px;
                border-radius: 0.3em;
                border: none;
            }
        }

        @media screen and (min-width: breakpoint(x-large)) {
            .hero-content {
                img {
                    width: 640px;
                    border-radius: 0.3em;
                }
            }
        }
    }

    .preview {
        display: grid;
        place-content: center;

        img {
            border-radius: 0.3em;
        }
    }

    .study {
        background-color: rgb(24 24 27 / 1);

        p,
        h2,
        li {
            color: hsl(320, 43%, 99%);
        }

        .study__header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 10rem;
            row-gap: 5em;

            & > * {
                flex-wrap: 1 1 10ch;
            }
        }

        .study__item {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            gap: 1rem;

            & > * {
                flex: 1 1 50ch;
            }

            ul li {
                list-style-type: none;
            }
        }
    }

    .development {
        .lang-stack {
            display: flex;
            gap: $gap-width-default;
            padding-block: $space-size-16;
        }
    }
}
