@use "../abstracts" as *;

.personal-portfolio {
    .hero {
        h1 {
            font-size: $font-size-step-6;
        }

        h1,
        p {
            color: hsl(250, 6%, 19%);
        }

        .header {
            .content {
                max-width: fit-content;
                margin-inline: auto;
                text-align: center;
            }
        }

        @media screen and (min-width: breakpoint(x-large)) {
            .hero-content {
                video {
                    width: 640px;
                    border-radius: 0.3em;
                }
            }
        }
    }

    .experience {
        h1,
        h3,
        h4,
        p {
            color: hsl(60, 100%, 95%);
        }

        header {
            display: flex;
            justify-content: space-between;
        }

        .experience-cards {
            display: flex;

            .experience-card {
                --min: 35ch;
                border-radius: 0.5em;
                color: hsl(60, 100%, 95%);
                background-color: hsl(250, 6%, 19%);
                padding: 1em;
            }
        }

        .stack {
            img {
                height: 32px;
            }

            svg {
                height: 32px;
                padding: 0.2em;
            }
        }
    }

    .work {
        h1 {
            color: hsl(240, 6%, 20%);
        }

        .work__item {
            --min: 40ch;
            padding-block: $space-size-48;
            align-items: center;
            padding-inline: 3rem;
            border-radius: 0.3em;
            // background: #1c1c1f;

            h2,
            p {
                color: hsl(240, 6%, 20%);
            }

            img {
                border-radius: 0.3em;
                width: 300px;
                border: none;
            }

            video {
                border: 1px solid hsla(240, 6%, 20%, 0.069);
                width: 640px;
                border-radius: 0.3em;
            }
        }
    }
}
