---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout
	title='Studio Eien'
	description='Studio Eien. We create the web for businesses, content creators, and art creatives.'
>
	<main class='landing'>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<header class='padding-block-start-32'>
					<h1 class='text-step-6'>Studio <span class='pt-bold'>Eien</span></h1>
					<p>By Kaleb Berry</p>
				</header>
				<article class='hero-summary'>
					<p>
						We Create the web for businesses, content creators, and art creatives. We are here to
						help you take the first steps to building an online presence that tells the world about
						your dream.
					</p>
				</article>
				<article class='flow-large hero-content'>
					<div class='flow-inline ctas'>
						<a href='#process' type='button'>Let's Begin</a>
						<a href='/case-studies' type='button-outline-white'>Read Studies</a>
					</div>
					<div class='flow definition'>
						<p>永遠 Eternity</p>
						<p>
							(Noun) which may take the genitive case particle 'no', Na-adjective (keiyodoshi).
							Eternity; perpetuity; permanence; immortality.
						</p>
					</div>
				</article>
			</div>
		</section>

		<section class='process' id='process'>
			<div data-type='wide' class='container'>
				<header class='padding-block-end-32'>
					<h1>The <span class='pt-bold'>Foundation.</span></h1>
					<div>
						<svg
							class='mini-logo'
							xmlns='http://www.w3.org/2000/svg'
							width='41'
							height='40'
							fill='none'
							viewBox='0 0 41 40'
						>
							<path
								fill='#fff'
								fill-opacity='0.5'
								d='M20.32 32.384 8.224 20.312 20.32 8.216l12.072 12.096L20.32 32.384Zm0-2.184 9.888-9.888L20.32 10.4l-9.888 9.912L20.32 30.2Zm0-4.872-5.04-5.016 5.04-5.04 5.04 5.04-5.04 5.016Z'
							>
							</path>
							<path
								stroke='#fff'
								stroke-opacity='0.5'
								d='M37 .5H4A3.5 3.5 0 0 0 .5 4v32A3.5 3.5 0 0 0 4 39.5h33a3.5 3.5 0 0 0 3.5-3.5V4A3.5 3.5 0 0 0 37 .5Z'
							>
							</path>
						</svg>
					</div>
				</header>
				<article class='process__content'>
					<div class='process__coontent-item flow-large'>
						<header>
							<h3>01. Strategy</h3>
						</header>
						<p>
							We first focus on getting to know about your dream and idea. Sitting with you, talking
							about content helps us to make some bid design decisions before getting to the
							visuals.
						</p>
					</div>
					<div class='process__coontent-item flow-large'>
						<header>
							<h3>02. Design</h3>
						</header>
						<p>
							After gathering the content, we form a design. We conduct research based on the
							content and provide design mockups to narrow down the website you want.
						</p>
					</div>
					<div class='process__coontent-item flow-large'>
						<header>
							<h3>03. Development</h3>
						</header>
						<p>
							After careful consideration, we create a website that meets your specs and
							incorporates all requested features, ideas, and concepts. We take pride in our work
							and ensure the highest quality.
						</p>
					</div>
					<div class='process__coontent-item flow-large'>
						<header>
							<h3>04. Maintience</h3>
						</header>
						<p>
							Lastly, we sit down and talk about how to use your website, such as how to go about
							updating the website, or helping to plan a launch date that works within your favor.
						</p>
					</div>
				</article>
			</div>
		</section>

		<section id='services' class='services'>
			<div data-type='wide' class='container flow-large'>
				<article class='services__content'>
					<div class='services__content-decor'>
						<div class='decor__logo'>
							<svg
								class='mini-logo'
								xmlns='http://www.w3.org/2000/svg'
								width='41'
								height='40'
								fill='none'
								viewBox='0 0 41 40'
							>
								<path
									fill='#000'
									fill-opacity='0.5'
									d='M20.32 32.384 8.224 20.312 20.32 8.216l12.072 12.096L20.32 32.384Zm0-2.184 9.888-9.888L20.32 10.4l-9.888 9.912L20.32 30.2Zm0-4.872-5.04-5.016 5.04-5.04 5.04 5.04-5.04 5.016Z'
								>
								</path>
								<path
									stroke='#000'
									stroke-opacity='0.5'
									d='M37 .5H4A3.5 3.5 0 0 0 .5 4v32A3.5 3.5 0 0 0 4 39.5h33a3.5 3.5 0 0 0 3.5-3.5V4A3.5 3.5 0 0 0 37 .5Z'
								>
								</path>
							</svg>
						</div>
						<div class='decor__number'>
							<h2>01</h2>
						</div>
					</div>
					<div class='services__content-details'>
						<header class='margin-block-end-48'>
							<h1><span class='pt-bold'>Front-End</span> Brilliance.</h1>
						</header>
						<article class='flow-large'>
							<div class='detail flow'>
								<header>
									<h3>Web Design & Development</h3>
								</header>
								<p>
									We create the web using the right tools for the right job. Let us create an online
									presence for you, that will take you to the next level, allowing you to take your
									steps with what you are passionate about.
								</p>
							</div>
							<div class='detail flow'>
								<header>
									<h3>OBS Graphics & Effects</h3>
								</header>
								<p>
									We use <a class='event-link' href='https://www.nodecg.dev/' target='_blank'>
										NodeCG
									</a>
									 to create broadcast graphics. This service allows one to run complicated parts of
									their stream smoothly, and we also can provide subtle animations for sub alerts,
									and social media callouts.
								</p>
							</div>

							<div class='detail flow'>
								<header>
									<h3>UI/UX Design</h3>
								</header>
								<p>
									We can help you design user interfaces that are intuitive and visually engaging.
									Focus on usablity and accessiblity, improving user experience. Last, conduct
									research, create wireframes and prototypes.
								</p>
							</div>

							<div class='detail flow'>
								<header>
									<h3>Custom Development</h3>
								</header>
								<p>
									At our website studio, we specialize in custom development services including web
									applications, single-page applications, and SEO implementation. Let us help you
									elevate your online presence.
								</p>
							</div>
						</article>
					</div>
				</article>
			</div>
		</section>

		<section class='case-studies'>
			<div class='container' data-type='wide'>
				<article class='content'>
					<div class='content__summary flow-large'>
						<header>
							<h1><span class='pt-bold'>Design</span> Journeys.</h1>
						</header>
						<p>
							Dive into the heart of our design journey, showcasing projects that have left a
							lasting impact. Explore client success stories to witness firsthand how Eien brings
							visions to life through innovative and soulful web design.
						</p>

						<div>
							<a href='/case-studies' type='button'>Explore Client Impacts</a>
						</div>
					</div>

					<div class='content__image'>
						<video class='video' autoplay='true' muted loop='true'>
							<source
								src='https://res.cloudinary.com/dhclgoera/video/upload/v1708918872/wmveuo4ybgtpkmkmk1wf.mp4'
								type='video/mp4'
							/>
						</video>
					</div>
				</article>
			</div>
		</section>

		<section class='conculsion'>
			<div data-type='wide' class='container'>
				<header class='margin-block-end-32'>
					<h1>Start your <span class='pt-bold'>story.</span></h1>
				</header>

				<article class='content flow-large'>
					<video autoplay='true' muted loop='true'>
						<source
							src='https://res.cloudinary.com/dhclgoera/video/upload/v1708918864/xoail7rgdslcfad7c8qn.mp4'
							type='video/mp4'
						/>
					</video>
					<div class='flow-large'>
						<p>
							We strive to create an online presence that reflects your unique vision and speaks to
							your target audience. We understand that every business is different, and we are
							dedicated to helping you create an online presence that is tailored to your individual
							needs.
						</p>
						<div>
							<a href='/contact' type='button-outline-white'>Create Your Journey</a>
						</div>
					</div>
				</article>
			</div>
		</section>
	</main>
</Layout>
