---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import CaseCard from '../components/CaseCard.astro';

import Nextjs from '../components/icons/nextjs.astro';
import Figma from '../components/icons/figma.astro';
import Sass from '../components/icons/sass.astro';
---

<Layout
	title='Kaleb Berry'
	description='Explore our collection of insightful case studies from Studio Eien, showcasing real-world applications and success stories.'
>
	<main class='personal-portfolio'>
		<Navbar />
		<section class='hero'>
			<div data-type='wide' class='container'>
				<header class='header'>
					<div class='flow content'>
						<h1 class='pt-bold'>KALEB BERRY</h1>
						<p>
							An aesthetic Front-End Engineer. Who loves code and design, striving to help others
							achieve their dreams, through his own passions and creativity.
						</p>
					</div>
				</header>
			</div>
		</section>

		<section class='experience'>
			<div data-type='wide' class='container flow-large'>
				<article class='experience-cards smol-flexbox-grid'>
					<div class='experience-card flow'>
						<h3 class='pt-bold'>Frontend Engineer</h3>
						<h4>T Rowe Price</h4>
						<p>
							Developed interfaces with brand consistency and improved design by resolving UI
							issues.
						</p>
					</div>
					<div class='experience-card flow'>
						<h3 class='pt-bold'>Frontend Engineer</h3>
						<h4>Digital Ally</h4>
						<p>
							Refactored UI/UX for FleetVu and EvoWeb, and implemented Figma designs into responsive
							pages.
						</p>
					</div>
					<div class='experience-card flow'>
						<h3 class='pt-bold'>Frontend Engineer</h3>
						<h4>Torch AI</h4>
						<p>
							Implemented, designed, and developed the public-facing website from initial design to
							finished product.
						</p>
					</div>
				</article>
			</div>
		</section>

		<section class='work' id='studies'>
			<div data-type='wide' class='container flow-large'>
				<header class='padding-block-end-32'>
					<h1>Crafted Solutions.</h1>
				</header>
				<article class='work__item smol-flexbox-grid flow'>
					<div class='flow-large'>
						<header>
							<p class='pt-bold'>ART PORTFOLIO</p>
							<h2 class='pt-bold'>NYACCHII</h2>
						</header>
						<p>
							Full-Time Creative Streamer and Twitch Partner from Mexico. Expertise in digital and
							traditional art.
						</p>
						<div>
							<a href='/case-studies/nyacchii' type='button-outline-dark'>Read Case Study</a>
						</div>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/nyacchii_demo_8SF1YEFSh.mp4'
							type='video/mp4'
						/>
					</video>
				</article>

				<article class='work__item smol-flexbox-grid flow-large'>
					<div class='flow-large'>
						<header>
							<p class='pt-bold'>COMPANY WEBSITE</p>
							<h2 class='pt-bold'>ROCKSTAR RENOVATIONS</h2>
						</header>
						<p>
							A fully insured business, both in general liability and workman's compensation.
							Renovations for the modern style.
						</p>
						<div>
							<a href='/case-studies/rockstar-renovations' type='button-outline-dark'>
								Read Case Study
							</a>
						</div>
					</div>

					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/rr_demo_E8AdxUJke.mp4'
							type='video/mp4'
						/>
					</video>
				</article>

				<article class='work__item smol-flexbox-grid flow-large'>
					<div class='flow-large'>
						<header>
							<p class='pt-bold'>WEB APPLICATION</p>
							<h2 class='pt-bold'>Digital Ally</h2>
						</header>
						<p>
							Complete front and back end solution for body cams, in-car video systems, data
							solutions and support for Law Enforcement.
						</p>
						<div>
							<a href='/case-studies/digital-ally' type='button-outline-dark'>Read Case Study</a>
						</div>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/fleetvu_demo_PQJW3zgee.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
			</div>
		</section>
	</main>
</Layout>
