---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import CaseCard from '../components/CaseCard.astro';
---

<Layout
	title='Kaleb Berry'
	description='Explore our collection of insightful case studies from Studio Eien, showcasing real-world applications and success stories.'
>
	<main class='personal-portfolio'>
		<section class='hero'>
			<div data-type='wide' class='container'>
				<Navbar />
				<article class='smol-flexbox-grid flow-large hero-content padding-block-start-32'>
					<div class='flow-large header'>
						<header>
							<div>
								<h1><span class='pt-bold'>Kaleb</span> Berry</h1>
							</div>
						</header>
						<article class='summary'>
							<p>
								Welcome to my intersection of aesthetics and design. This is a place to view my
								visually striking and user-centric websites and projects.
							</p>
						</article>

						<article class='flow-inline ctas margin-block-start-32'>
							<a href='#studies' type='button'>Work Studies</a>
							<a target='_blank' href='/assets/KalebBerry-Resume.pdf' type='button-outline-white'>
								<i class='fa-solid fa-download'></i> Resume
							</a>
						</article>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://res.cloudinary.com/dhclgoera/video/upload/v1708918872/wmveuo4ybgtpkmkmk1wf.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
			</div>
		</section>

		<section class='experience'>
			<div data-type='wide' class='container flow-large'>
				<header class='padding-block-end-32'>
					<h1 class='pt-bold'>Experience</h1>
				</header>
				<article class='experience-cards smol-flexbox-grid'>
					<div class='experience-card flow'>
						<h3 class='pt-bold'>Frontend Engineer</h3>
						<h4>Digital Ally</h4>
						<p>
							Refactored UI/UX for FleetVu and EvoWeb, as well implemented Figma designs into
							responsive pages.
						</p>
						<div class='stack'>
							<svg
								class='stack-svg'
								fill='white'
								fill-opacity='0.5'
								height='32'
								viewBox='0 0 32 32'
								width='32'
								xmlns='http://www.w3.org/2000/svg'
							>
								<path
									d='m23.749 30.005c-.119.063-.109.083.005.025.037-.015.068-.036.095-.061 0-.021 0-.021-.1.036zm.24-.13c-.057.047-.057.047.011.016.036-.021.068-.041.068-.047 0-.027-.016-.021-.079.031zm.156-.094c-.057.047-.057.047.011.016.037-.021.068-.043.068-.048 0-.025-.016-.02-.079.032zm.158-.093c-.057.047-.057.047.009.015.037-.02.068-.041.068-.047 0-.025-.016-.02-.077.032zm.213-.141c-.109.073-.147.12-.047.068.067-.041.181-.131.161-.131-.043.016-.079.043-.115.063zm-9.563-29.536c-.073.005-.292.025-.484.041-4.548.412-8.803 2.86-11.5 6.631-1.491 2.067-2.459 4.468-2.824 6.989-.129.88-.145 1.14-.145 2.333 0 1.192.016 1.448.145 2.328.871 6.011 5.147 11.057 10.943 12.927 1.043.333 2.136.563 3.381.704.484.052 2.577.052 3.061 0 2.152-.24 3.969-.771 5.767-1.688.276-.14.328-.177.291-.208-.88-1.161-1.744-2.323-2.609-3.495l-2.557-3.453-3.203-4.745c-1.068-1.588-2.14-3.172-3.229-4.744-.011 0-.025 2.109-.031 4.681-.011 4.505-.011 4.688-.068 4.792-.057.125-.151.229-.276.287-.099.047-.188.057-.661.057h-.541l-.141-.088c-.088-.057-.161-.136-.208-.229l-.068-.141.005-6.271.011-6.271.099-.125c.063-.077.141-.14.229-.187.131-.063.183-.073.724-.073.635 0 .74.025.907.208 1.296 1.932 2.588 3.869 3.859 5.812 2.079 3.152 4.917 7.453 6.312 9.563l2.537 3.839.125-.083c1.219-.813 2.328-1.781 3.285-2.885 2.016-2.308 3.324-5.147 3.767-8.177.129-.88.145-1.141.145-2.333 0-1.193-.016-1.448-.145-2.328-.871-6.011-5.147-11.057-10.943-12.928-1.084-.343-2.199-.577-3.328-.697-.303-.031-2.371-.068-2.631-.041zm6.547 9.677c.151.072.265.208.317.364.027.084.032 1.823.027 5.74l-.011 5.624-.989-1.52-.995-1.521v-4.083c0-2.647.011-4.131.025-4.204.047-.167.161-.307.313-.395.124-.063.172-.068.667-.068.463 0 .541.005.645.063z'
								>
								</path>
							</svg>
							<svg
								height='32'
								fill='white'
								fill-opacity='0.5'
								id='Flat'
								xmlns='http://www.w3.org/2000/svg'
								viewBox='0 0 256 256'
							>
								<path
									d='M183.03955,94.00049A39.98706,39.98706,0,0,0,162,20.001H94A39.98706,39.98706,0,0,0,72.96045,94.00049,39.96375,39.96375,0,0,0,72.96143,162,39.9924,39.9924,0,1,0,134,195.99951v-39.47a39.98084,39.98084,0,1,0,49.03955-62.529ZM190,60.001a28.03114,28.03114,0,0,1-27.98047,27.99951L162,88l-.03857.001L134,88V32.001h28A28.03145,28.03145,0,0,1,190,60.001Zm-124,0a28.03145,28.03145,0,0,1,28-28h28V88H94l-.019.00049A28.03132,28.03132,0,0,1,66,60.001ZM66,128a28.03123,28.03123,0,0,1,27.981-27.99951L94,100.001l28-.00074V155.999L94,156A28.03146,28.03146,0,0,1,66,128Zm28,95.999A27.99951,27.99951,0,1,1,94,168l28-.00073v28.00024A28.03135,28.03135,0,0,1,94,223.999ZM162,156a27.99952,27.99952,0,0,1-.03857-55.999H162l.019-.00049A27.99976,27.99976,0,0,1,162,156Z'
								>
								</path>
							</svg>
							<svg
								fill='white'
								fill-opacity='0.5'
								viewBox='0 0 32 32'
								xmlns='http://www.w3.org/2000/svg'
							>
								<path
									d='m16.171 18.7c-.481.221-1.008.509-2.063 1.088-.4.225-.818.45-1.207.662-.027-.027-.055-.061-.082-.089-2.087-2.23-5.947-3.805-5.783-6.8.061-1.091.436-3.955 7.413-7.433 5.742-2.83 10.311-2.046 11.1-.307 1.134 2.479-2.449 7.092-8.379 7.761a4.469 4.469 0 0 1 -3.751-.948c-.314-.341-.361-.361-.477-.293-.191.1-.068.409 0 .586a3.5 3.5 0 0 0 2.141 1.684 11.4 11.4 0 0 0 6.956-.689c3.594-1.391 6.4-5.258 5.578-8.5-.825-3.287-6.281-4.371-11.443-2.537a26 26 0 0 0 -8.79 5.047c-2.844 2.66-3.294 4.972-3.11 5.94.662 3.437 5.4 5.674 7.3 7.331-.1.055-.184.1-.259.143-.948.471-4.562 2.36-5.463 4.358-1.023 2.264.164 3.887.948 4.105a5.832 5.832 0 0 0 6.281-2.544 6.3 6.3 0 0 0 .559-5.8 5.03 5.03 0 0 1 .716-.477c.484-.286.945-.568 1.354-.786a10.475 10.475 0 0 1 4.475-.989c3.246.382 3.887 2.407 3.764 3.26a2.157 2.157 0 0 1 -1.03 1.459c-.225.143-.3.191-.28.293.027.15.136.143.327.116a2.535 2.535 0 0 0 1.766-2.257c.1-2-1.807-4.194-5.183-4.174a7.753 7.753 0 0 0 -2.946.587q-.225.093-.437.2zm-4.825 7.839c-1.078 1.173-2.578 1.616-3.226 1.241-.7-.4-.423-2.135.9-3.376a17.18 17.18 0 0 1 2.53-1.889c.157-.1.389-.232.668-.4.048-.027.075-.041.075-.041l.164-.1a4.658 4.658 0 0 1 -1.111 4.565z'
								>
								</path>
							</svg>
						</div>
					</div>
					<div class='experience-card flow'>
						<h3 class='pt-bold'>Frontend Engineer</h3>
						<h4>Torch AI</h4>
						<p>
							Implemented, design, and developed the public facing website from inital design to
							finish product.
						</p>
						<div class='stack'>
							<svg
								class='stack-svg'
								fill='white'
								fill-opacity='0.5'
								height='32'
								viewBox='0 0 32 32'
								width='32'
								xmlns='http://www.w3.org/2000/svg'
							>
								<path
									d='m23.749 30.005c-.119.063-.109.083.005.025.037-.015.068-.036.095-.061 0-.021 0-.021-.1.036zm.24-.13c-.057.047-.057.047.011.016.036-.021.068-.041.068-.047 0-.027-.016-.021-.079.031zm.156-.094c-.057.047-.057.047.011.016.037-.021.068-.043.068-.048 0-.025-.016-.02-.079.032zm.158-.093c-.057.047-.057.047.009.015.037-.02.068-.041.068-.047 0-.025-.016-.02-.077.032zm.213-.141c-.109.073-.147.12-.047.068.067-.041.181-.131.161-.131-.043.016-.079.043-.115.063zm-9.563-29.536c-.073.005-.292.025-.484.041-4.548.412-8.803 2.86-11.5 6.631-1.491 2.067-2.459 4.468-2.824 6.989-.129.88-.145 1.14-.145 2.333 0 1.192.016 1.448.145 2.328.871 6.011 5.147 11.057 10.943 12.927 1.043.333 2.136.563 3.381.704.484.052 2.577.052 3.061 0 2.152-.24 3.969-.771 5.767-1.688.276-.14.328-.177.291-.208-.88-1.161-1.744-2.323-2.609-3.495l-2.557-3.453-3.203-4.745c-1.068-1.588-2.14-3.172-3.229-4.744-.011 0-.025 2.109-.031 4.681-.011 4.505-.011 4.688-.068 4.792-.057.125-.151.229-.276.287-.099.047-.188.057-.661.057h-.541l-.141-.088c-.088-.057-.161-.136-.208-.229l-.068-.141.005-6.271.011-6.271.099-.125c.063-.077.141-.14.229-.187.131-.063.183-.073.724-.073.635 0 .74.025.907.208 1.296 1.932 2.588 3.869 3.859 5.812 2.079 3.152 4.917 7.453 6.312 9.563l2.537 3.839.125-.083c1.219-.813 2.328-1.781 3.285-2.885 2.016-2.308 3.324-5.147 3.767-8.177.129-.88.145-1.141.145-2.333 0-1.193-.016-1.448-.145-2.328-.871-6.011-5.147-11.057-10.943-12.928-1.084-.343-2.199-.577-3.328-.697-.303-.031-2.371-.068-2.631-.041zm6.547 9.677c.151.072.265.208.317.364.027.084.032 1.823.027 5.74l-.011 5.624-.989-1.52-.995-1.521v-4.083c0-2.647.011-4.131.025-4.204.047-.167.161-.307.313-.395.124-.063.172-.068.667-.068.463 0 .541.005.645.063z'
								>
								</path>
							</svg>
							<svg
								height='32'
								fill='white'
								fill-opacity='0.5'
								id='Flat'
								xmlns='http://www.w3.org/2000/svg'
								viewBox='0 0 256 256'
							>
								<path
									d='M183.03955,94.00049A39.98706,39.98706,0,0,0,162,20.001H94A39.98706,39.98706,0,0,0,72.96045,94.00049,39.96375,39.96375,0,0,0,72.96143,162,39.9924,39.9924,0,1,0,134,195.99951v-39.47a39.98084,39.98084,0,1,0,49.03955-62.529ZM190,60.001a28.03114,28.03114,0,0,1-27.98047,27.99951L162,88l-.03857.001L134,88V32.001h28A28.03145,28.03145,0,0,1,190,60.001Zm-124,0a28.03145,28.03145,0,0,1,28-28h28V88H94l-.019.00049A28.03132,28.03132,0,0,1,66,60.001ZM66,128a28.03123,28.03123,0,0,1,27.981-27.99951L94,100.001l28-.00074V155.999L94,156A28.03146,28.03146,0,0,1,66,128Zm28,95.999A27.99951,27.99951,0,1,1,94,168l28-.00073v28.00024A28.03135,28.03135,0,0,1,94,223.999ZM162,156a27.99952,27.99952,0,0,1-.03857-55.999H162l.019-.00049A27.99976,27.99976,0,0,1,162,156Z'
								>
								</path>
							</svg>
							<svg
								fill='white'
								fill-opacity='0.5'
								viewBox='0 0 32 32'
								xmlns='http://www.w3.org/2000/svg'
							>
								<path
									d='m16.171 18.7c-.481.221-1.008.509-2.063 1.088-.4.225-.818.45-1.207.662-.027-.027-.055-.061-.082-.089-2.087-2.23-5.947-3.805-5.783-6.8.061-1.091.436-3.955 7.413-7.433 5.742-2.83 10.311-2.046 11.1-.307 1.134 2.479-2.449 7.092-8.379 7.761a4.469 4.469 0 0 1 -3.751-.948c-.314-.341-.361-.361-.477-.293-.191.1-.068.409 0 .586a3.5 3.5 0 0 0 2.141 1.684 11.4 11.4 0 0 0 6.956-.689c3.594-1.391 6.4-5.258 5.578-8.5-.825-3.287-6.281-4.371-11.443-2.537a26 26 0 0 0 -8.79 5.047c-2.844 2.66-3.294 4.972-3.11 5.94.662 3.437 5.4 5.674 7.3 7.331-.1.055-.184.1-.259.143-.948.471-4.562 2.36-5.463 4.358-1.023 2.264.164 3.887.948 4.105a5.832 5.832 0 0 0 6.281-2.544 6.3 6.3 0 0 0 .559-5.8 5.03 5.03 0 0 1 .716-.477c.484-.286.945-.568 1.354-.786a10.475 10.475 0 0 1 4.475-.989c3.246.382 3.887 2.407 3.764 3.26a2.157 2.157 0 0 1 -1.03 1.459c-.225.143-.3.191-.28.293.027.15.136.143.327.116a2.535 2.535 0 0 0 1.766-2.257c.1-2-1.807-4.194-5.183-4.174a7.753 7.753 0 0 0 -2.946.587q-.225.093-.437.2zm-4.825 7.839c-1.078 1.173-2.578 1.616-3.226 1.241-.7-.4-.423-2.135.9-3.376a17.18 17.18 0 0 1 2.53-1.889c.157-.1.389-.232.668-.4.048-.027.075-.041.075-.041l.164-.1a4.658 4.658 0 0 1 -1.111 4.565z'
								>
								</path>
							</svg>
						</div>
					</div>
					<div class='experience-card flow'>
						<h3 class='pt-bold'>Software Engineer</h3>
						<h4>Cerner</h4>
						<p>
							Supported other software developers, dubugged code, discuss with clients on UI / UX
							and software implications.
						</p>
						<div class='stack'>
							<svg
								class='stack-svg'
								fill='white'
								fill-opacity='0.5'
								height='32'
								viewBox='0 0 32 32'
								width='32'
								xmlns='http://www.w3.org/2000/svg'
							>
								<path
									d='m23.749 30.005c-.119.063-.109.083.005.025.037-.015.068-.036.095-.061 0-.021 0-.021-.1.036zm.24-.13c-.057.047-.057.047.011.016.036-.021.068-.041.068-.047 0-.027-.016-.021-.079.031zm.156-.094c-.057.047-.057.047.011.016.037-.021.068-.043.068-.048 0-.025-.016-.02-.079.032zm.158-.093c-.057.047-.057.047.009.015.037-.02.068-.041.068-.047 0-.025-.016-.02-.077.032zm.213-.141c-.109.073-.147.12-.047.068.067-.041.181-.131.161-.131-.043.016-.079.043-.115.063zm-9.563-29.536c-.073.005-.292.025-.484.041-4.548.412-8.803 2.86-11.5 6.631-1.491 2.067-2.459 4.468-2.824 6.989-.129.88-.145 1.14-.145 2.333 0 1.192.016 1.448.145 2.328.871 6.011 5.147 11.057 10.943 12.927 1.043.333 2.136.563 3.381.704.484.052 2.577.052 3.061 0 2.152-.24 3.969-.771 5.767-1.688.276-.14.328-.177.291-.208-.88-1.161-1.744-2.323-2.609-3.495l-2.557-3.453-3.203-4.745c-1.068-1.588-2.14-3.172-3.229-4.744-.011 0-.025 2.109-.031 4.681-.011 4.505-.011 4.688-.068 4.792-.057.125-.151.229-.276.287-.099.047-.188.057-.661.057h-.541l-.141-.088c-.088-.057-.161-.136-.208-.229l-.068-.141.005-6.271.011-6.271.099-.125c.063-.077.141-.14.229-.187.131-.063.183-.073.724-.073.635 0 .74.025.907.208 1.296 1.932 2.588 3.869 3.859 5.812 2.079 3.152 4.917 7.453 6.312 9.563l2.537 3.839.125-.083c1.219-.813 2.328-1.781 3.285-2.885 2.016-2.308 3.324-5.147 3.767-8.177.129-.88.145-1.141.145-2.333 0-1.193-.016-1.448-.145-2.328-.871-6.011-5.147-11.057-10.943-12.928-1.084-.343-2.199-.577-3.328-.697-.303-.031-2.371-.068-2.631-.041zm6.547 9.677c.151.072.265.208.317.364.027.084.032 1.823.027 5.74l-.011 5.624-.989-1.52-.995-1.521v-4.083c0-2.647.011-4.131.025-4.204.047-.167.161-.307.313-.395.124-.063.172-.068.667-.068.463 0 .541.005.645.063z'
								>
								</path>
							</svg>
							<svg
								height='32'
								fill='white'
								fill-opacity='0.5'
								id='Flat'
								xmlns='http://www.w3.org/2000/svg'
								viewBox='0 0 256 256'
							>
								<path
									d='M183.03955,94.00049A39.98706,39.98706,0,0,0,162,20.001H94A39.98706,39.98706,0,0,0,72.96045,94.00049,39.96375,39.96375,0,0,0,72.96143,162,39.9924,39.9924,0,1,0,134,195.99951v-39.47a39.98084,39.98084,0,1,0,49.03955-62.529ZM190,60.001a28.03114,28.03114,0,0,1-27.98047,27.99951L162,88l-.03857.001L134,88V32.001h28A28.03145,28.03145,0,0,1,190,60.001Zm-124,0a28.03145,28.03145,0,0,1,28-28h28V88H94l-.019.00049A28.03132,28.03132,0,0,1,66,60.001ZM66,128a28.03123,28.03123,0,0,1,27.981-27.99951L94,100.001l28-.00074V155.999L94,156A28.03146,28.03146,0,0,1,66,128Zm28,95.999A27.99951,27.99951,0,1,1,94,168l28-.00073v28.00024A28.03135,28.03135,0,0,1,94,223.999ZM162,156a27.99952,27.99952,0,0,1-.03857-55.999H162l.019-.00049A27.99976,27.99976,0,0,1,162,156Z'
								>
								</path>
							</svg>
							<svg
								fill='white'
								fill-opacity='0.5'
								viewBox='0 0 32 32'
								xmlns='http://www.w3.org/2000/svg'
							>
								<path
									d='m16.171 18.7c-.481.221-1.008.509-2.063 1.088-.4.225-.818.45-1.207.662-.027-.027-.055-.061-.082-.089-2.087-2.23-5.947-3.805-5.783-6.8.061-1.091.436-3.955 7.413-7.433 5.742-2.83 10.311-2.046 11.1-.307 1.134 2.479-2.449 7.092-8.379 7.761a4.469 4.469 0 0 1 -3.751-.948c-.314-.341-.361-.361-.477-.293-.191.1-.068.409 0 .586a3.5 3.5 0 0 0 2.141 1.684 11.4 11.4 0 0 0 6.956-.689c3.594-1.391 6.4-5.258 5.578-8.5-.825-3.287-6.281-4.371-11.443-2.537a26 26 0 0 0 -8.79 5.047c-2.844 2.66-3.294 4.972-3.11 5.94.662 3.437 5.4 5.674 7.3 7.331-.1.055-.184.1-.259.143-.948.471-4.562 2.36-5.463 4.358-1.023 2.264.164 3.887.948 4.105a5.832 5.832 0 0 0 6.281-2.544 6.3 6.3 0 0 0 .559-5.8 5.03 5.03 0 0 1 .716-.477c.484-.286.945-.568 1.354-.786a10.475 10.475 0 0 1 4.475-.989c3.246.382 3.887 2.407 3.764 3.26a2.157 2.157 0 0 1 -1.03 1.459c-.225.143-.3.191-.28.293.027.15.136.143.327.116a2.535 2.535 0 0 0 1.766-2.257c.1-2-1.807-4.194-5.183-4.174a7.753 7.753 0 0 0 -2.946.587q-.225.093-.437.2zm-4.825 7.839c-1.078 1.173-2.578 1.616-3.226 1.241-.7-.4-.423-2.135.9-3.376a17.18 17.18 0 0 1 2.53-1.889c.157-.1.389-.232.668-.4.048-.027.075-.041.075-.041l.164-.1a4.658 4.658 0 0 1 -1.111 4.565z'
								>
								</path>
							</svg>
						</div>
					</div>
				</article>
			</div>
		</section>

		<section class='work' id='studies'>
			<div data-type='wide' class='container flow-large'>
				<header class='padding-block-end-32'>
					<h1>Work <span class='pt-bold'>Studies</span></h1>
				</header>
				<article class='work__item smol-flexbox-grid flow'>
					<div class='flow-large'>
						<header>
							<p>Art Portfolio</p>
							<h2 class='pt-bold'>Nyacchii</h2>
						</header>
						<p>
							Full-Time Creative Streamer and Twitch Partner from Mexico. Expertise in digital and
							traditional art.
						</p>
						<div>
							<a href='/case-studies/nyacchii' type='button-outline-white'>Read Case Study</a>
						</div>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/nyacchii_demo_8SF1YEFSh.mp4'
							type='video/mp4'
						/>
					</video>
				</article>

				<hr />

				<article class='work__item smol-flexbox-grid flow-large'>
					<div class='flow-large'>
						<header>
							<p>Company Website</p>
							<h2 class='pt-bold'>Rockstar Renovations</h2>
						</header>
						<p>
							A fully insured business, both in general liability and workman's compensation.
							Renovations for the modern style.
						</p>
						<div>
							<a href='/case-studies/rockstar-renovations' type='button-outline-white'>
								Read Case Study
							</a>
						</div>
					</div>

					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/rr_demo_E8AdxUJke.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
				<hr />
				<article class='work__item smol-flexbox-grid flow-large'>
					<div class='flow-large'>
						<header>
							<p>Web Application</p>
							<h2 class='pt-bold'>Digital Ally</h2>
						</header>
						<p>
							Complete front and back end solution for body cams, in-car video systems, data
							solutions and support for Law Enforcement.
						</p>
						<div>
							<a href='/case-studies/digital-ally' type='button-outline-white'>Read Case Study</a>
						</div>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/fleetvu_demo_PQJW3zgee.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
			</div>
		</section>
	</main>
</Layout>
