---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Web Projects' description='Studio Eien display of web projects'>
	<main class='web-projects'>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<article class='hero-content smol-flexbox-grid padding-block-start-32'>
					<div class='flow-large'>
						<header>
							<h1>Web <span class='pt-bold'>Projects</span></h1>
						</header>
						<div class='summary'>
							<p>
								Showcases successful projects completed by Animancy Studios for various clients.
								Each case study provides an overview of the project, including the website's
								purpose, design, and results.
							</p>
						</div>

						<article class='flow-inline ctas'>
							<button>View Projects</button>
							<button class='button-outline-white'>Recent Project</button>
						</article>
					</div>
					<img src='https://picsum.photos/id/60/700/400' />
				</article>
			</div>
		</section>

		<section class='projects'>
			<div data-type='wide' class='container flow-large'>
				<article class='preview'>
					<div>
						<img src='https://picsum.photos/id/60/700/520' />
					</div>
					<div>
						<img src='https://picsum.photos/id/60/700/520' />
					</div>
					<div>
						<img src='https://picsum.photos/id/60/700/520' />
					</div>
					<div>
						<img src='https://picsum.photos/id/60/700/520' />
					</div>
					<div>
						<img src='https://picsum.photos/id/60/700/520' />
					</div>
					<div>
						<img src='https://picsum.photos/id/60/700/520' />
					</div>
					<div>
						<img src='https://picsum.photos/id/60/700/520' />
					</div>
					<div>
						<img src='https://picsum.photos/id/60/700/520' />
					</div>
				</article>
			</div>
		</section>
	</main>
</Layout>
