---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Thank You!' description='Thank you for contacting us!'>
	<Navbar />
	<main></main>
</Layout>
