---
export interface Props {
	title: string;
	body: string;
	catagory: string;
	href: string;
}

const { href, title, body, catagory } = Astro.props;
---

<div class='case-card flow'>
	<header class='case-card__title'>
		<p>{catagory}</p>
		<h3>{title}</h3>
	</header>
	<summary>
		<p>{body}</p>
	</summary>
	<article class='case-card__info'>
		<div class='lang-stack'>
			<div>
				<i class='fa-brands fa-xl fa-html5'></i>
			</div>
			<div>
				<i class='fa-brands fa-xl fa-sass'></i>
			</div>
			<div>
				<i class='fa-brands fa-xl fa-js'></i>
			</div>
			<div>
				<i class='fa-brands fa-xl fa-react'></i>
			</div>
			<div>
				<i class='fa-brands fa-xl fa-figma'></i>
			</div>
		</div>
		<div class='view-case'>
			<a type='button' href={href}>View Case Study <i class='fa-solid fa-arrow-right'></i></a>
		</div>
	</article>
</div>

<style lang='scss'>
	p {
		color: var(--light-100);
		font-size: var(--fs-0);
	}

	a[type='button'] {
		color: var(--light-100);
		font-size: var(--fs-0);

		&:hover {
			background: var(--light-100);
			color: var(--dark-100);
		}
	}
	.case-card {
		padding: clamp(2rem, calc(1.83rem + 0.87vw), 2.5rem);
		width: 100%;
		transition: background 1s;
		background-color: var(--accent-100);
		background-image: url(/img/background.svg);
		background-size: contain;
		border-radius: 0.3em;

		.case-card__title {
			padding-block-end: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);
			h3 {
				line-height: 0.9;
				color: var(--light-100);
				text-wrap: balance;
			}
			.catagory {
				color: var(--light-100);
			}
		}

		.case-card__info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.lang-stack {
				color: var(--light-100);
				padding-block-start: clamp(0.75rem, 0.68rem + 0.33vw, 0.94rem);
				display: flex;
				gap: 1em;
			}
			.view-case {
				padding-block-start: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);
			}
		}
	}

	@media (min-width: 76.88rem) {
		.case-card {
			max-width: 76.88em;
		}
	}
</style>
