<footer class='footer'>
	<div data-type='wide' class='flow container'>
		<article class='top-footer'>
			<div class='logo'>
				<a href='/'>
					<img class='svg-logo' src='/img/logo.png' alt='Logo' />
				</a>
			</div>

			<div class='termsandservices'>
				<ul class='termsandservices-items'></ul>
			</div>

			<div class='socials'>
				<ul class='socials-items'>
					<li>
						<a href='https://github.com/Sorumeiji' target='_blank'>
							<i aria-hidden='true' class='fa-brands fa-xl fa-square-github'></i>
							<span class='fa-sr-only'>Kaleb Berry's github account</span>
						</a>
					</li>
					<li>
						<a href='https://www.linkedin.com/in/kalebgberry/' target='_blank'>
							<i aria-hidden='true' class='fa-brands fa-xl fa-linkedin'></i>
							<span class='fa-sr-only'>Kaleb Berry's LinkedIn</span>
						</a>
					</li>
				</ul>
			</div>
		</article>

		<article class='bottom-footer'>
			<p class='copy'>Copyright 2025. Kaleb Berry. All rights reserved.</p>
			<ul class='copy-items'>
				<li>
					<a href='#'></a>
				</li>
				<li>
					<a href='#'></a>
				</li>
			</ul>
		</article>
	</div>
</footer>

<style lang='scss'>
	.svg-logo {
		max-width: 50px;
		width: 100%;
		border-radius: 5em;
		filter: grayscale(100%);
		transition: filter 0.7s;

		&:hover {
			filter: grayscale(0%);
		}
	}

	hr {
		border: 0;
		height: 1px;
		background: var(--dark-100);
	}

	.footer {
		margin-top: auto;
		background-color: rgb(24 24 27 / 1);
		padding-block: clamp(3rem, calc(2.74rem + 1.3vw), 3.75rem);

		p {
			color: var(--light-100);
		}
		ul {
			display: flex;
			flex-direction: column;
			& li {
				list-style-type: none;
			}

			& li a {
				color: var(--light-100);
				text-decoration: none;
				transition: 0.5s ease-in-out;
				font-size: clamp(1.25rem, 1.16rem + 0.43vw, 1.5rem);

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}

	.theme-switcher {
		margin-block: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
		color: var(--light-100);
		border-radius: 0.3em;
		.theme-switcher__label {
			color: var(--light-100);
		}
	}

	.top-footer {
		display: flex;
		flex-direction: column;
		margin-block-end: clamp(3rem, calc(2.74rem + 1.3vw), 3.75rem);

		ul li + li {
			margin-block-start: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
		}
	}

	.top-footer > * + * {
		margin-block-start: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
	}

	.bottom-footer > * + * {
		margin-block-start: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
	}

	.copy {
		font-size: clamp(1.25rem, 1.16rem + 0.43vw, 1.5rem);
	}

	.copy-items li + li {
		margin-block-start: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
	}

	@media (min-width: 76.88rem) {
		.footer {
			ul {
				flex-direction: row;
			}
		}

		.top-footer {
			flex-direction: row;
			justify-content: space-between;

			ul li + li {
				margin-block-start: 0;
				margin-inline-start: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
			}
		}
		.bottom-footer {
			display: flex;
			justify-content: space-between;
		}

		.bottom-footer > * + * {
			margin-block-start: 0;
			margin-inline-start: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
		}

		.copy-items li + li {
			margin-block-start: 0;
			margin-inline-start: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
		}
	}
</style>
