---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<div data-type='wide' class='container'>
	<nav class='navigation'>
		<div class='logo'>
			<p>AVALIABLE FOR WORK.</p>
		</div>
		<div class='hamburger'>&#9776;</div>
		<div class='nav'>
			<ul class='navigation-items'>
				<li><a class={currentPath === '' ? 'active-link' : ''} href='/'>Home</a></li>
				<!-- <li>
				<a class={currentPath === 'projects' ? 'active-link' : ''} href='/projects'>Projects</a>
			</li> -->
				<!-- <li>
				<a target='_blank' href='/assets/KalebBerry-Resume.pdf'>
					<i class='fa-solid fa-xs fa-download'></i> Resume
				</a>
			</li> -->
				<li>
					<a class={currentPath === 'contact' ? 'active-link' : ''} href='/contact'>Contact</a>
				</li>
			</ul>
		</div>
		<div class='filler'></div>
	</nav>
</div>
<style lang='scss'>
	.navigation {
		display: flex;
		align-items: center;
		background-color: hsl(250, 6%, 19%);
		padding: 1em 2em;
		margin-block: 1em;
		border-radius: 10px;
	}

	.navigation-items {
		display: block;
		text-align: center;
		width: fit-content;
		margin-inline: auto;
		margin-block: 80px auto;
		transition: 0.5s;
		opacity: 0;

		& li {
			list-style-type: none;
		}

		& li + li {
			margin-block-start: clamp(0.5rem, calc(0.46rem + 0.22vw), 0.63rem);
		}

		& li a {
			color: #ffffe3;
			text-transform: uppercase;
			font-family: 'GeneralSans-Semibold', sans-serif;
			font-size: clamp(1.25rem, 1.16rem + 0.43vw, 1.5rem);
		}
	}

	.logo {
		p {
			color: #ffffe3;
			font-family: 'GeneralSans-Semibold', sans-serif;
		}
	}

	.logo,
	.filler {
		flex-grow: 1;
		flex-basis: 0;
	}

	.logo a {
		display: inline-block;
	}
	.svg-logo {
		max-width: 50px;
		width: 100%;
		border-radius: 5em;
		filter: grayscale(100%);
		transition: filter 0.7s;
		&:hover {
			filter: grayscale(0%);
		}
	}

	.hamburger:hover {
		cursor: pointer;
	}

	.filler {
		display: none;
	}

	.nav {
		height: 0px;
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		width: 100vw;
		background-color: var(--dark-100);
		transition: 0.5s;
		overflow: hidden;

		&.active {
			height: 450px;
		}
	}

	.nav.active .navigation-items {
		opacity: 1;
	}

	@media (min-width: 56.88rem) {
		.hamburger {
			display: none;
		}

		.nav {
			height: auto;
			position: relative;
			top: 0;
			width: auto;
			background-color: transparent;
			transition: 0.2s;
			overflow: auto;
		}

		.navigation-items {
			display: flex;
			gap: max(calc(2vw - 70px), 16px);
			margin: 0 0vw;
			opacity: 1;

			.active-link {
				// background-color: hsl(199.53deg 5.11% 69.59% / 37%);
			}

			& li {
				list-style-type: none;
			}

			& li a {
				transition: 0.5s ease-in-out;
				text-decoration-line: none;
				padding-inline: 0.3em;
				padding-block: 0.1em;
				border-radius: 0.2em;
			}

			& li + li {
				margin-inline-start: var(--space-m);
				margin-block-start: 0;
			}
		}
	}
</style>

<script>
	let hamburger: HTMLElement = document.querySelector('.hamburger');
	hamburger.onclick = function () {
		let navbar = document.querySelector('.nav');
		navbar.classList.toggle('active');
	};
</script>
