ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    padding-block: 1em;
}

ul [role="list"] {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a[role="button"] {
    display: block;
    // border: 1px solid var(--text-1);
    border-radius: 0.1em;
    padding-block: 0.9em;
    padding-inline: 0.9em;
    color: var(--gray-8);
    background: #e16b7b;
    transition: all 0.3s ease-in-out !important;
}

a[role="button-outline"] {
    display: block;
    border: 1px solid #e16b7b;
    border-radius: 0.2em;
    padding-block: 0.8em;
    padding-inline: 0.9em;
    color: var(--text-1);
    transition: all 0.3s ease-in-out !important;
}

a[role="button"]:hover {
    text-decoration: none;
    padding-inline: 2em;
}

a[role="button-outline"]:hover {
    text-decoration: none;
    padding-inline: 2em;
}

a[role="icon"] {
    color: #e16b7b;
    transition: all 0.3s ease-in-out !important;
}

a[role="icon"]:hover {
    color: #e16b7b;
    opacity: 0.8;
}
