header {
    // border: 1px solid red;
}

.hero {
    background-image: url(../../img/circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

.container {
    max-width: 90%;
    width: 900px;
    margin-inline: auto;
    margin-block: 5em;

    h1 {
        padding-block: 0.5em;
    }

    p {
        padding-block: 1em;
    }
}

.navigation {
    max-width: 100%;
    // border: 1px solid green;

    .navContainer {
        max-width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 2em;
        margin-inline: auto;
    }
}

.flow > * + * {
    --flow-space: var(--size-700);
    margin-top: var(--flow-space, 1em);
}

.projects {
    min-height: 100%;
}

.projectGallery {
    padding-block: 5em;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    h2 {
    }

    .projectGallery-item {
        background-color: hsl(206, 13%, 10%);
        color: black;
        border-radius: 0.1em;
        padding-inline: 2em;
        padding-block: 3em;
    }

    .projectGallery-item a {
        transition: all 0.3s ease-in-out !important;
        color: rgb(242, 90, 100);
    }

    .projectGallery-item a:hover {
        border-bottom: 1px solid hsl(352, 66%, 65%);
        padding-bottom: 0.2em;
    }
}

footer {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
