---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout title='Case Study - Digital Ally' description='Case study page for Digital Ally'>
	<main class='case-study'>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<article class='smol-flexbox-grid flow-large hero-content padding-block-start-32'>
					<div class='flow-large header'>
						<header>
							<p>Case Study - Web Application</p>
							<h1 class='pt-bold'>Digital Ally</h1>
						</header>
						<div class='summary'>
							<p>
								A complete front and back end solution for body cams, in-car video systems, data
								solutions and support for Law Enforcement, EMS, Commercial Fleets
							</p>
						</div>

						<article class='flow-inline ctas'>
							<a href='#study' type='button'>Read Study</a>
							<a href='https://www.fleetvumanager.com' target='_blank' type='button-outline-white'>
								View Project
							</a>
						</article>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/fleetvu_demo_PQJW3zgee.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
			</div>
		</section>

		<section class='preview'>
			<div data-type='wide' class='container flow-large'>
				<article>
					<img
						src='https://ik.imagekit.io/sorudev/Studio%20Eien/Clients/digitalally_nEWv1rkRc.png?updatedAt=1709592715456'
					/>
				</article>
			</div>
		</section>

		<section class='study' id='study'>
			<div data-type='wide' class='container flow-large'>
				<header class='study__header padding-block-end-32'>
					<div>
						<svg
							class='mini-logo'
							xmlns='http://www.w3.org/2000/svg'
							width='41'
							height='40'
							fill='none'
							viewBox='0 0 41 40'
						>
							<path
								fill='#fff'
								d='M20.32 32.384 8.224 20.312 20.32 8.216l12.072 12.096L20.32 32.384Zm0-2.184 9.888-9.888L20.32 10.4l-9.888 9.912L20.32 30.2Zm0-4.872-5.04-5.016 5.04-5.04 5.04 5.04-5.04 5.016Z'
							>
							</path>
							<path
								stroke='#fff'
								d='M37 .5H4A3.5 3.5 0 0 0 .5 4v32A3.5 3.5 0 0 0 4 39.5h33a3.5 3.5 0 0 0 3.5-3.5V4A3.5 3.5 0 0 0 37 .5Z'
							>
							</path>
						</svg>
					</div>
					<div>
						<p>
							Digital Ally's FleetVU2 underwent a comprehensive overhaul to cater to law
							enforcement, EMS, and commercial fleets, utilizing Figma for design and Vue, SCSS, and
							HTML for development, ensuring enhanced responsiveness and customer satisfaction.
						</p>
					</div>
				</header>

				<article class='study__item'>
					<div>
						<header class='flow'>
							<h2>The Mission</h2>
							<p>
								My aim was to transform FleetVU2's interface and development to meet the diverse
								needs of users. Through meticulous design and coding, we aimed to deliver a highly
								responsive and intuitive experience tailored to each customer segment.
							</p>
						</header>
					</div>
					<div>
						<header class='flow'>
							<h2>Services</h2>
							<ul>
								<li>Brand Strategy Identity</li>
								<li>Design User Experience</li>
								<li>Design User Interface</li>
								<li>Design Illustration</li>
								<li>Copywriting</li>
							</ul>
						</header>
					</div>
				</article>

				<article class='study__item'>
					<div>
						<header class='flow'>
							<h2>The Outcome</h2>
							<p>
								The result was a functional and visually appealing FleetVU2 interface, designed and
								coded with precision. Leveraging innovative design and coding techniques, the
								revamped solution drove increased satisfaction and market success for Digital Ally.
							</p>
						</header>
					</div>
					<div>
						<header class='flow'>
							<h2>Stack</h2>
							<ul>
								<li>HTML</li>
								<li>CSS</li>
								<li>AWS</li>
								<li>Vue JS</li>
								<li>Node JS</li>
							</ul>
						</header>
					</div>
				</article>

				<article class='study__item'>
					<div>
						<header class='flow'>
							<h2>The Impact</h2>
							<p>
								The revamp positively influenced customers across sectors, facilitating smoother
								interactions and heightened usability. Users praised the enhancements, leading to
								increased satisfaction and loyalty.
							</p>
						</header>
					</div>
					<div>
						<header class='flow'>
							<h2>Press</h2>
							<ul>
								<li>digitalallyinc.com/news-insights/</li>
							</ul>
						</header>
					</div>
				</article>
			</div>
		</section>
	</main>
</Layout>
