---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import CaseCard from '../../components/CaseCard.astro';
---

<Layout
	title='Case Studies'
	description='Explore our collection of insightful case studies from Studio showcasing real-world applications and success stories.'
>
	<main class='case-studies'>
		<section class='hero'>
			<div data-type='wide' class='container'>
				<Navbar />
				<article class='smol-flexbox-grid flow-large hero-content padding-block-start-32'>
					<div class='flow-large header'>
						<header>
							<div>
								<h1><span class='pt-bold'>Design</span> Journeys.</h1>
							</div>
						</header>
						<article class='summary'>
							<p>
								Showcases successful projects completed by Studio Eien for various clients. Each
								case study provides an overview of the project, including the website's purpose,
								design, and results.
							</p>
						</article>

						<article class='flow-inline ctas'>
							<a href='#work' type='button'>View Our Work</a>
						</article>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://res.cloudinary.com/dhclgoera/video/upload/v1708918872/wmveuo4ybgtpkmkmk1wf.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
			</div>
		</section>

		<section class='work' id='work'>
			<div data-type='wide' class='container flow-large'>
				<article class='work__item smol-flexbox-grid flow'>
					<div class='flow-large'>
						<header>
							<p>Art Portfolio</p>
							<h2 class='pt-bold'>Nyacchii</h2>
						</header>
						<p>
							Full-Time Creative Streamer and Twitch Partner from Mexico. Expertise in digital and
							traditional art.
						</p>
						<div>
							<a href='/case-studies/nyacchii' type='button-outline-white'>Read Case Study</a>
						</div>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/nyacchii_demo_8SF1YEFSh.mp4'
							type='video/mp4'
						/>
					</video>
				</article>

				<hr />

				<article class='work__item smol-flexbox-grid flow-large'>
					<div class='flow-large'>
						<header>
							<p>Company Website</p>
							<h2 class='pt-bold'>Rockstar Renovations</h2>
						</header>
						<p>
							A fully insured business, both in general liability and workman's compensation.
							Renovations for the modern style.
						</p>
						<div>
							<a href='/case-studies/rockstar-renovations' type='button-outline-white'>
								Read Case Study
							</a>
						</div>
					</div>

					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/rr_demo_E8AdxUJke.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
				<hr />
				<article class='work__item smol-flexbox-grid flow-large'>
					<div class='flow-large'>
						<header>
							<p>Web Application</p>
							<h2 class='pt-bold'>Digital Ally</h2>
						</header>
						<p>
							Complete front and back end solution for body cams, in-car video systems, data
							solutions and support for Law Enforcement.
						</p>
						<div>
							<a href='/case-studies/digital-ally' type='button-outline-white'>Read Case Study</a>
						</div>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/fleetvu_demo_PQJW3zgee.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
			</div>
		</section>
	</main>
</Layout>
