---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout title='Case Study - Nyacchii' description='Case study page for Nyacchii'>
	<main class='case-study'>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<article class='smol-flexbox-grid flow-large hero-content padding-block-start-32'>
					<div class='flow-large header'>
						<header>
							<p>Case Study - Art Portfolio</p>
							<h1 class='pt-bold'>Nyacchii</h1>
						</header>
						<div class='summary'>
							<p>
								Nyacchii, full-time creative streamer and Twitch Partner from Mexico. Expertise in
								digital and traditional art.
							</p>
						</div>

						<article class='flow-inline ctas'>
							<a href='#study' type='button'>Read Study</a>
							<a href='https://www.nyacchii.com/' target='_blank' type='button-outline-white'>
								View Project
							</a>
						</article>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/nyacchii_demo_8SF1YEFSh.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
			</div>
		</section>

		<section class='preview'>
			<div data-type='wide' class='container flow-large'>
				<article>
					<img
						src='https://ik.imagekit.io/sorudev/Studio%20Eien/Clients/nyacchii_A6Su0Ckd7.png?updatedAt=1709592715990'
					/>
				</article>
			</div>
		</section>

		<section class='study' id='study'>
			<div data-type='wide' class='container flow-large'>
				<header class='study__header padding-block-end-32'>
					<div>
						<svg
							class='mini-logo'
							xmlns='http://www.w3.org/2000/svg'
							width='41'
							height='40'
							fill='none'
							viewBox='0 0 41 40'
						>
							<path
								fill='#fff'
								d='M20.32 32.384 8.224 20.312 20.32 8.216l12.072 12.096L20.32 32.384Zm0-2.184 9.888-9.888L20.32 10.4l-9.888 9.912L20.32 30.2Zm0-4.872-5.04-5.016 5.04-5.04 5.04 5.04-5.04 5.016Z'
							>
							</path>
							<path
								stroke='#fff'
								d='M37 .5H4A3.5 3.5 0 0 0 .5 4v32A3.5 3.5 0 0 0 4 39.5h33a3.5 3.5 0 0 0 3.5-3.5V4A3.5 3.5 0 0 0 37 .5Z'
							>
							</path>
						</svg>
					</div>
					<div>
						<p>
							I crafted a dynamic website for Nyacchii, driving commission inquiries and expanding
							her audience reach to over 200 weekly viewers, setting the stage for digital art
							success.
						</p>
					</div>
				</header>

				<article class='study__item'>
					<div>
						<header class='flow'>
							<h2>The Mission</h2>
							<p>
								My mission was to empower Nyacchii by creating a website that effectively showcases
								her artwork and facilitates commission inquiries, enhancing her revenue streams and
								establishing her as a prominent figure in the digital art community.
							</p>
						</header>
					</div>
					<div>
						<header class='flow'>
							<h2>Services</h2>
							<ul>
								<li>Brand Strategy Identity</li>
								<li>Design User Experience</li>
								<li>Design User Interface</li>
								<li>Design Illustration</li>
								<li>Copywriting</li>
							</ul>
						</header>
					</div>
				</article>

				<article class='study__item'>
					<div>
						<header class='flow'>
							<h2>The Outcome</h2>
							<p>
								Creating Nyacchii's website led to more commission requests, boosting her monthly
								earnings. The easy-to-use design kept visitors interested, lowering bounce rates.
								Nyacchii gained recognition in the digital art community and expanded her audience
								to over 200 weekly viewers. The website's success exceeded expectations, fueling
								Nyacchii's artistic growth and financial prosperity.
							</p>
						</header>
					</div>
					<div>
						<header class='flow'>
							<h2>Stack</h2>
							<ul>
								<li>HTML</li>
								<li>CSS</li>
								<li>JavaScript</li>
								<li>Next.JS</li>
								<li>Contentful</li>
							</ul>
						</header>
					</div>
				</article>

				<article class='study__item'>
					<div>
						<header class='flow'>
							<h2>The Impact</h2>
							<p>
								Creating Nyacchii's website led to more commission requests, boosting her monthly
								earnings. The easy-to-use design kept visitors interested, lowering bounce rates.
								Nyacchii gained recognition in the digital art community and expanded her audience
								to over 200 weekly viewers. The website's success exceeded expectations, fueling
								Nyacchii's artistic growth and financial prosperity.
							</p>
						</header>
					</div>
					<div>
						<header class='flow'>
							<h2>Press</h2>
							<ul>
								<li>Twitch.tv</li>
							</ul>
						</header>
					</div>
				</article>
			</div>
		</section>
	</main>
</Layout>
