---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout title='Case Study - Rockstar Reno' description='Case study page for Rockstar Renovation'>
	<main class='case-study'>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<article class='smol-flexbox-grid flow-large hero-content padding-block-start-32'>
					<div class='flow-large header'>
						<header>
							<p>Case Study - Construction Company</p>
							<h1 class='pt-bold'>Rockstar<br />Renovation</h1>
						</header>
						<div class='summary'>
							<p>
								A fully insured business, both in general liability and workman's compensation.
								Renovations for the modern style.
							</p>
						</div>

						<article class='flow-inline ctas'>
							<a href='#study' type='button'>Read Study</a>
							<a href='https://www.rockstarreno.com/' target='_blank' type='button-outline-white'>
								View Project
							</a>
						</article>
					</div>
					<video class='video' autoplay='true' muted loop='true'>
						<source
							src='https://ik.imagekit.io/sorudev/Studio%20Eien/Videos/rr_demo_E8AdxUJke.mp4'
							type='video/mp4'
						/>
					</video>
				</article>
			</div>
		</section>

		<section class='preview'>
			<div data-type='wide' class='container flow-large'>
				<article>
					<img
						src='https://ik.imagekit.io/sorudev/Studio%20Eien/Clients/rockstar_XD0ahtPJz.png?updatedAt=1709592715891'
					/>
				</article>
			</div>
		</section>

		<section class='study' id='study'>
			<div data-type='wide' class='container flow-large'>
				<header class='study__header padding-block-end-32'>
					<div>
						<svg
							class='mini-logo'
							xmlns='http://www.w3.org/2000/svg'
							width='41'
							height='40'
							fill='none'
							viewBox='0 0 41 40'
						>
							<path
								fill='#fff'
								d='M20.32 32.384 8.224 20.312 20.32 8.216l12.072 12.096L20.32 32.384Zm0-2.184 9.888-9.888L20.32 10.4l-9.888 9.912L20.32 30.2Zm0-4.872-5.04-5.016 5.04-5.04 5.04 5.04-5.04 5.016Z'
							>
							</path>
							<path
								stroke='#fff'
								d='M37 .5H4A3.5 3.5 0 0 0 .5 4v32A3.5 3.5 0 0 0 4 39.5h33a3.5 3.5 0 0 0 3.5-3.5V4A3.5 3.5 0 0 0 37 .5Z'
							>
							</path>
						</svg>
					</div>
					<div>
						<p>
							Rockstar Renovations, a construction company with a portfolio of 15-20 clients, aimed
							to showcase their renovation projects and testimonials through a new website,
							fostering growth and credibility in their field.
						</p>
					</div>
				</header>

				<article class='study__item'>
					<div>
						<header class='flow'>
							<h2>The Mission</h2>
							<p>
								I aimed to develop a professional website for Rockstar Renovations, highlighting
								their expertise in renovation projects and dedication to client satisfaction, with
								the goal of expanding their clientele and reinforcing their reputation.
							</p>
						</header>
					</div>
					<div>
						<header class='flow'>
							<h2>Services</h2>
							<ul>
								<li>Brand Strategy Identity</li>
								<li>Design User Experience</li>
								<li>Design User Interface</li>
								<li>Design Illustration</li>
								<li>Copywriting</li>
							</ul>
						</header>
					</div>
				</article>

				<article class='study__item'>
					<div>
						<header class='flow'>
							<h2>The Outcome</h2>
							<p>
								The resulting website, featuring a streamlined gallery, testimonials section, and
								comprehensive company details, served as a compelling showcase of Rockstar
								Renovations' capabilities. Its user-friendly design facilitated client engagement,
								contributing to increased leads and reaffirming their status as industry leaders.
							</p>
						</header>
					</div>
					<div>
						<header class='flow'>
							<h2>Stack</h2>
							<ul>
								<li>HTML</li>
								<li>CSS</li>
								<li>JavaScript</li>
								<li>Astro JS</li>
								<li>Contentful</li>
							</ul>
						</header>
					</div>
				</article>

				<article class='study__item'>
					<div>
						<header class='flow'>
							<h2>The Impact</h2>
							<p>
								The website's launch significantly boosted Rockstar Renovations' online visibility,
								effectively presenting their successful projects and client feedback. This increased
								exposure generated a notable uptick in inquiries, driving business expansion and
								solidifying their standing as a reputable construction company.
							</p>
						</header>
					</div>
					<div>
						<header class='flow'>
							<h2>Press</h2>
							<ul>
								<li>Facebook.com</li>
								<li>HomeAdvisor.com</li>
							</ul>
						</header>
					</div>
				</article>
			</div>
		</section>
	</main>
</Layout>
