@use "../abstracts" as *;

body {
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $font-text-weight-header;
  font-family: $font-text-header;
}

p {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-family: $font-text-default;
  color: $body-text-color;
  text-wrap: balance;
  max-width: $font-text-width-default;
}

a {
  color: $link-color-default;
  font-size: $body-font-size;
  font-family: $font-text-default;
}

a[class="event-link"] {
  font-weight: bold;
  text-decoration-line: underline;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  box-shadow: inset 0 0 0 0 $color-accent-100;
  transition:
    color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 100px 0 0 0 $color-accent-100;
    color: $color-light-100;
  }
}

hr {
  height: 1px;
  background-color: rgb(48 48 54 / 1);
  border: none;
}

.input-group {
  input {
    display: block;
  }
}
